<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="blogs content">
      <h1>About Us</h1>
      <p>
        A Professional Organization Offering Comprehensive Range Of Services In
        The Domain Of IT, Human Resource Management & Human Resource
        Outsourcing, Facility Management, Trading And In Other Diverse Domains.
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
