<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <style>
        div {
            border: 1px solid black;
        }
        #a{
            position:relative;
            height:300px;
        }

        #b {
            position: absolute;          
            right: 0px;
            top:0px;
            width: 160px;
            height:300px;
        }
        #c{
            position:absolute;
           bottom:0px;
           left:0px;
            
        }
    </style>
</head>

<body>
    <div id="a">1 text
        <div id="b">2 text
        </div>
        <div id="c">3 text</div>
    </div>
    <div id="some">
        Something else
     </div>
</body>
</html>