<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <title>{{title}}</title>
</head>

<body>
    <h1>Products Page</h1>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
    <hr />
    <fieldset>
        <legend>List of Products</legend>
    <ul>
        {{#products}}
        <li>name:{{name}} number:{{number}} description:{{description}}</li>
        {{/products}}
      </ul>
    </fieldset>
    <fieldset>
        <legend>Add New Product</legend>
        <form action="products" method="post">
            <label for="name">Product Name:</label>
            <input type="text" name="name" required>
            <label for="quantity">Quantity:</label>
            <input type="number" name="number" required max="100" min="0">
            <label for="description">Description:</label>
            <textarea name="description"></textarea>
            <button type="submit">Submit</button>
        </form>
    </fieldset>
</body>

</html>